<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .h2-text{
            color: red
        }
    </style>
</head>
<body>
<div>
    <h1 id="h1-text">H1 text</h1>
    <h2 class="h2-text">H2 text</h2>
    <h6 class="h2-text">H6 Text</h6>
    <p>Do u wanna take a <span style="color: green">chum?</span></p>
    <a href="https://stepik.org/lesson/1452311/step/1?unit=1471322" target="_blank">Python</a>
    <img alt="browsers.png" src ="https://sky.coflnet.com/static/icon/HYPERION" style="width: 300px">
    <ul>
        <li>List item 1</li>
        <li>List item 2</li>
        <li>List item 3</li>
        <li>List item 4</li>
        <li>List item 5</li>
    </ul>
    <ol>
        <li>List item 1</li>
        <li>List item 2</li>
        <li>List item 3</li>
        <li>List item 4</li>
        <li>List item 5</li>
    </ol>
    <form action="/action" method="POST">
        <input type="Text" value="12345" placeholder="Text">
        <input required type="email" placeholder="email">
        <input type="password" placeholder="password">
        <textarea required placeholder="Text">12345</textarea>
        <button type="submit" disabled>Text</button>
    </form>
    <table>
        <thead>
<tr>
    <td>Name</td>
    <td>Age</td>
    <td>Gender</td>
</tr>
        </thead>
        <tbody>
 <tr>
     <td>John</td>
     <td>25</td>
     <td>Male</td>
 </tr>
        </tbody>
    </table>

</div>
</body>
</html>